.header{
 font-size: 20px;
 line-height: 1.5
 margin-bottom: 60px ;
}
.header span{
 display: block;
}

.form{
 border: 5px solid #2727d9;
 padding: 35px 20px;
}

.section{
 padding: 30px 0;
}
.section-header{
 font-size: 20px;
 font-weight: 900px;
}
.btn__1 {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
}
button:hover {background-position: right center;}

.form-btn{
 background-color: #2727d9;
 margin: 12px auto;
}

.form input{
 margin-bottom: 12px;
}

.feature{
 margin-top: 60px; 
}

.feature p{
 margin-top: 20px;
}

.center { 
 text-align: center; 
}

.video{
 margin-bottom: 30px;
}
/*.container, .col-lg-6{
 border: 1px solid red; 
}*/